server1=10.0.1.147
server2=10.0.1.12
user=admin
password=r3m0Avi1
awspass='myawsveryverylongpassword'
avictl=10.10.10.10
awstoken=89e40deeedf0b9ff773ebc6a52d38fab5ba67996
cloud_aws=aws
hostname=ciaociao
apiversion=21.1.3
apiversion2=20.1.8
poolname="demo_pool"
vsvip_name=test2
app_name=demovs
app_macro=vs_l7proxy_template
