server1=10.0.1.39
server2=10.0.1.12
user=admin
password="Q]GxaunxYZ991"
awspass='myawsveryverylongpassword'
avictl="52.52.243.213"
awstoken="5d9959c8dad99a5b99b9e99f450cfb60de390d0a"
cloud_aws=aws
hostname="51.51.243.213"
apiversion=22.1.3
poolname="demo_pool"
vsvip_name=test2
app_name=demovs
app_macro=vs_l7proxy_template
